{{>header}}

<div class="main-content">
    <center>
        <img src="/img/robot.png" alt="Robot">
    </center>

    <br/><br/>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt, ante ut mattis consectetur, 
    massa massa porttitor justo, ac interdum elit felis ut dolor. Nulla semper ligula sapien, nec scelerisque 
    lectus faucibus non. Ut purus nisi, feugiat non cursus at, aliquet id ipsum. Nulla tincidunt vestibulum est 
    tincidunt dignissim. Phasellus pharetra dolor eget odio blandit finibus. Pellentesque eget est at sem posuere ullamcorper. 
    Proin id arcu quis neque tempor commodo. Mauris nec libero et turpis convallis laoreet sed vitae sem. 
    Proin lacinia gravida sapien, ut bibendum lorem iaculis in. Integer est elit, imperdiet et gravida eget, feugiat ac lacus. 
    Donec nec cursus velit. Vestibulum ullamcorper blandit tristique. Nunc sagittis, lorem sodales sodales suscipit, 
    massa metus porta libero, ut mattis erat metus vel ex. Maecenas auctor condimentum quam vitae vulputate.
  
     
</div>


{{>footer}}