{{>header}}

<div class="main-content">
    
    <p>Use this site to get your weather</p>

    <form>
        <input type="text" placeholder="Enter Address">
        <button>Search</button>

        <br/><br/>

        <div id="result"></div>
    </form>

</div>

{{>footer}}